[user]
    name = txdat
    email = dattranx105@gmail.com

[core]
    pager = delta
	gitproxy = 

[credential]
    helper = cache

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[diff]
    algorithm = patience
    colorMoved = default
    compactionHeuristic = true

[delta]
    true-color = always
    line-numbers = true
    navigate = true
    conflictstyle = diff3
    diffFilter = delta --color-only
