:root {
  --n-bg: #0f111b;
  --n-tab-height: 20pt;
  /* Overriden Firefox variables*/
  --autocomplete-popup-background: var(--n-bg) !important;
  --toolbar-bgcolor: var(--n-bg) !important;
  --bookmark-block-padding: 0px 1px !important;
  --tab-line-color: var(--n-bg) !important;
  --tab-block-margin: 0px !important;
  --tab-border-radius: 0px !important;
  --default-arrowpanel-background: var(--n-bg) !important;
  --arrowpanel-background: var(--n-bg) !important;
  --arrowpanel-border-radius: 0px !important;
  --arrowpanel-padding-inline: 0px !important;
  --arrowpanel-menuitem-padding: 0px !important;
  --sidebar-background-color: var(--n-bg) !important;
  --lwt-sidebar-background-color: var(--n-bg) !important;
}

#tabbrowser-tabs {
  height: var(--n-tab-height) !important;
}

#urlbar-input {
  text-align: center !important;
}

toolbar {
  background-image: none !important;
}

#navigator-toolbox,
toolbaritem {
  border: none !important;
}

#urlbar-background {
  background-color: var(--n-bg) !important;
  border: none !important;
}

.toolbar-items {
  background-color: var(--n-bg) !important;
}

.urlbarView-row[type="bookmark"] > span {
  color: #76946a !important;
}

.urlbarView-row[type="switchtab"] > span {
  color: #dca561 !important;
}
