enable_experimental_features    1
use_heuristic_if_text_summary_not_available 1

# background_color    1.0 1.0 1.0
# dark_mode_background_color  0.0 0.0 0.0
# dark_mode_contrast  1.0
# custom_background_color 0.059 0.067 0.106
# custom_text_color   0.925 0.941 0.757
# text_highlight_color    0.89 0.58 0.0
# default_dark_mode   1

ui_font     JetbrainsMono Nerd Font
font_size   14

ruler_mode  1
linear_filter   1
display_resolution_scale    1
should_launch_new_window    1

# startup_commands    toggle_custom_color;toggle_visual_scroll;toggle_mouse_drag_mode;toggle_horizontal_scroll_lock;
startup_commands    toggle_visual_scroll;toggle_mouse_drag_mode;toggle_horizontal_scroll_lock;
